<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carrentalapp"
        tools:targetApi="31">

        <activity
            android:name=".OnboardingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".ui.theme.Vehiclcatalog.VehicleListActivity" />
        <activity android:name=".ui.theme.Vehiclcatalog.VehicleDetailActivity" />
        <activity android:name=".ui.theme.locationdate.LocationDatePickerActivity" />
        <activity android:name=".ui.theme.booking.BookingActivity" />
        <activity android:name=".ui.theme.booking.BookingConfirmationActivity" />
        <activity android:name=".ui.theme.booking.BookingDetailsActivity" />
        <activity android:name=".ui.theme.booking.ReservationActivity" />
        <activity android:name=".ui.theme.payment.PaymentActivity" />
        <activity android:name=".ui.theme.contract.DigitalContractActivity" />
        <activity android:name=".ui.theme.insurance.insuranceSelectionActivity" />
        <activity android:name=".ui.theme.support.SupportChatActivity" />
        <activity android:name=".ui.theme.review.ReviewRatingActivity" />
        <activity android:name=".ui.theme.logs.ActivityLogsActivity" />
        <activity android:name=".ui.theme.admin.FleetManagementActivity" />
        <activity android:name=".ui.theme.admin.RolePermissionActivity" />
        <activity android:name=".ui.theme.auth.RegisterActivity" />
        <activity android:name=".ui.theme.auth.LoginActivity" />
        <activity android:name=".ui.theme.auth.ForgotPasswordActivity" />
        <activity android:name=".ui.theme.auth.PhoneVerificationActivity" />
        <activity android:name=".ui.theme.auth.OtpVerificationActivity" />
        <activity android:name=".ui.theme.profile.ProfileActivity" />
        <activity android:name=".ui.theme.home.SearchActivity" />
        <activity android:name=".ui.theme.home.HomeActivity" />

    </application>

</manifest>